# Environment variables
.env
.env.local
.env.production.local
.env.development.local

# Dependencies
node_modules

# Logs
logs/*.json
*.log
npm-debug.log*

# Temporary files
tmp/

# Windows Zone.Identifier files
*:Zone.Identifier
*.Identifier:*

# Build
dist
build